<div class="shadow-lg p-3 mb-5 bg-white rounded">
<h3>Añadir Comentario</h3>
<form class="form" method="POST" action="/quizes/<%= QuizId %>/comments">
  <input type="text" class="form-control" name="texto" placeholder="comentario">
  <button type="submit" class="btn btn-primary">Enviar</button>
  <a href="/quizes"><button type="button" button class="btn btn-danger">Cancelar</button></a>
</form>
<div class="shadow-lg p-3 mb-5 bg-white rounded">