<div class="shadow-lg p-3 mb-5 bg-white rounded">
<h3> Creditos</h3>
<p>Esta practica ha sido desarrolada por LeChuck el Pirata.</p>
<img src="/images/LeChuck.jpg" alt="Pirata LeChuck" height="374" width="500" />
</div>