<div class="form-group">
  <input type="text" class="form-control" name="question" placeholder="<%= quiz.pregunta %>">
</div>
<div class="form-group">
  <input type="text" class="form-control" name="answer" placeholder="<%= quiz.respuesta %>">
  <a href="/quizes"><button type="button" button class="btn btn-danger">Cancelar</button></a>
  <button type="submit" class="btn btn-primary">Enviar</button>
</div>
