<!DOCTYPE html>
<html>

<head>
  <title>

  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>

  </h1>
  <p>Welcome to

  </p>
  <%=respuesta%>
    <p></p>
    <a href="/quizes/question">Intentelo otra vez.</a>
</body>

</html>