<h3>Lista de Preguntas</h3>
<div class="table-responsive">
<table class="table table-dark table-striped">
<% for (var i in quizes) { %>
<tr>
<td>
<a href = "quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a>
</td>
</tr>
<% } %>
</table>
</div>