<form method="GET" action="/quizes/answer">
  <div class="form-group">
    <label>Pregunta:</label>
    <label>
      <%= pregunta %>
    </label>
    <input type="text" class="form-control" name="respuesta" placeholder="respuesta">
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>