<form method="GET" action="/quizes/<%= quiz.id %>/answer">
  <div class="form-group">
    Pregunta:<%= quiz.pregunta %>
      <input type="text" class="form-control" name="respuesta" placeholder="respuesta">
    <button type="submit" class="btn btn-primary">Enviar</button>
  </div>
</form>