<div class="shadow-lg p-3 mb-5 bg-white rounded">
<h3>Iniciar Sesion</h3>
<form method="POST" action="/login">
  <div class="form-group">
    <input type="text" class="form-control" name="login" placeholder="Login">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="password" placeholder="Password">
    <a href="/quizes"><button type="button" button class="btn btn-danger">Cancelar</button></a>
    <button name="commit" type="submit" class="btn btn-primary">Enviar</button>
  </div>
</form>
</div>