<h3>login</h3>
<form method="POST" action="/login">
  <div class="form-group">
    <label>Login:</label>
    <input type="text" class="form-control" name="login" placeholder="Login">
  </div>
  <div class="form-group">
    <label>Password:</label>
    <input type="text" class="form-control" name="password" placeholder="Password">
    <a href="/quizes"><button type="button" button class="btn btn-danger">Cancelar</button></a>
    <button name="commit" type="submit" class="btn btn-primary">Enviar</button>
  </div>
</form>